<div class="col-xs-12" style="text-align: center;">
	<b style="font-size: 2vw">{{bti}}</b>
	<p style="line-height: 2vw">{{nrong}}</p>
	<em>作者: <a target="_blank" rel="external" href="#">渔夫</a></em></p>
<p>碳水化合物对人体很重要，但在法国，尤其重要。这就是为什么在过去的200年里，巴黎有一项法律是必须保证面包的持续供应，特别是在夏天，许多人会选择离开巴黎去度假的时候。这项法律之所以存在，是因为上一次闹“面包荒”的时候，全民都在反抗。</p>
<p>面包一直是法国人的主食，对政府的运作也很重要。拿破仑时期的警察甚至参与了谷物检验和质量监控。1775年，由于小麦短缺，法国谷物价格猛涨。新国王路易十六允许法国境内粮食自由市场，使得危机更加严重。投机取巧的面粉商人抑制谷物供应，以此操纵市场，抬高价格。</p>
<p>在此之前，法国已经几十年没有闹过饥荒了。突然之间，贫穷的人们没有办法买到面粉做面包，所以他们暴动，袭击面包店、面粉作坊，甚至是农民，试图得到粮食。历史学家普遍认为这次面粉大战是14年后法国大革命的先驱。</p>
<p>为了确保每个街区都能买到面包，1970年颁布的一项法律规定，面包店不能自行休假。由于近几年来，欧洲并没有发生大规模的饥荒，法国政府在1995年放宽了法律。在七月份的时候，巴黎一半的面包店可以关门休息，另一半持续工作，八月相反。面包店在关门前必须向当局报备，如果真的关门了，他们必须要在窗户上贴出告示，告诉巴黎人最近在哪里可以买到面包。如果其他的面包师没有报备，每私自关门一天，最低要处11欧元的罚款，相当于今天的20美元。</p>
<p>2015年，法国政府完全放松了对面包师的限制，那年夏天，住在城里的巴黎人都怕再次遭遇“法棍面包危机”，事实上，他们也确实遭遇了一次。由于政府不再协调面包师的假期，那些保持乐观态度的人们很快吃光了面包，由于需求不断增加，质量也受到了影响。</p>
<p>对面包短缺的担忧在近几年有所减少，但法国面包店也出现了新的担忧。自1990年以来，人均法棍的消费量下降了80%左右，以前法国每个人平均要吃3个法棍，现在却只吃半个左右。分析人士认为这种下降归于许多因素，包括人们对碳水化合物和无谷蛋白饮食的偏好。而一些面包师则认为是面包现在的味道远不如以前大规模生产时好。</p>
<p>据Euromonitor分析，90年代中期，法国的面包店有37800家，但到2013年，只有32000家，到2015年，降至28000家。但就像市场上其他交易一样，当地家庭经营的面包坊可能正在复兴。有进取的面包师正在努力保持法国面包的崛起，不仅仅是在巴黎和法国，更是在世界各地。</p>
<p>
</div>