 <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tc10">新发优品</a></li>
</ul>
<table class="table table-hover">
    <tr ng-repeat='x in xinfayoup track by $index'>
        <td style="width:1vw;padding-right: 0;"><a ui-sref="index.renmen({bti:x.biaoti,neirong:x.neirong})"><img src="img/4343.gif"></a></td>
        <th><a ui-sref="index.xinfayoup({bti:x.biaoti,neirong:x.neirong})" style="font-size: 1.2vw;">{{x.biaoti}}</a></th>
        <td>{{x.faburen}}</td>
        <td><span>{{x.time}}</span></td>
    </tr>                  
</table>